<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.domain.post.PostMapper">
	
	<!-- td_post 테이블 전체 칼럼 -->
	<sql id="postColumns">
		id, 
		title, 
		content, 
		writer, 
		view_cnt, 
		delete_yn, 
		created_date, 
		modified_date
	</sql>
	
	<!-- 게시글 저장 -->
	<insert id="save" parameterType="com.example.demo.domain.post.PostRequest" useGeneratedKeys="true" keyProperty="id">
		insert into tb_post(
			<include refid="postColumns"/>
		)values(
			#{id}, 
			#{title}, 
			#{content}, 
			#{writer}, 
			0, 
			0, 
			now(), 
			null
		)
	</insert>
	
	<!-- 게시글 상제정보 조회 -->
	<select id="findById" parameterType="long" resultType="com.example.demo.domain.post.PostResponse">
		select
			<include refid="postColumns"/>
		from
			tb_post
		where
			id = #{value}
	</select>
	
	<!-- 게시글 수정 -->
	<update id="update" parameterType="com.example.demo.domain.post.PostRequest">
        UPDATE tb_post
        SET
        	modified_date = NOW()
            , title = #{title}
            , content = #{content}
            , writer = #{writer}
        WHERE
            id = #{id}
    </update>


    <!-- 게시글 삭제 -->
    <delete id="deleteById" parameterType="long">
        UPDATE tb_post
        SET
            delete_yn = 1
        WHERE
            id = #{id}
    </delete>


    <!-- 게시글 리스트 조회 -->
    <select id="findAll" resultType="com.example.demo.domain.post.PostResponse">
        SELECT
            <include refid="postColumns" />
        FROM
            tb_post
        WHERE
            delete_yn = 0
        ORDER BY
            id DESC
    </select>
	
</mapper>